# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Logs and data
*.log
*.csv
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/
